{
	"appenders": {
		"console": {
			"type": "console"
		},
		"access": {
			"type": "dateFile",
			"filename": "logs/xrain_nodejs_access.log",
			"pattern": ".yyyy-MM-dd",
			"category": "http",
			"daysToKeep": 15,
			"pattern": ".yyyy-MM-dd"
		},
		"app": {
			"type": "dateFile",
			"filename": "logs/xrain_nodejs_app.log",
			"daysToKeep": 15,
			"pattern": ".yyyy-MM-dd"
		},
		"errorFile": {
			"type": "dateFile",
			"filename": "logs/xrain_nodejs_errors.log",
			"maxLogSize": 10485760,
			"numBackups": 3
		},
		"errors": {
			"type": "logLevelFilter",
			"level": "ERROR",
			"appender": "errorFile"
		}
	},
	"categories": {
		"default": {
			"appenders": ["console", "app", "errors"],
			"level": "all"
		},
		"http": {
			"appenders": ["access"],
			"level": "DEBUG"
		}
	}
}
